@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixins';

// GENERAL
body {
  background-color: $body-background-color;
  font-family: $body-font;
}

h1 {
  color: $headline-color;
  font-family: $headline-font;
  font-size: 2.5em;
  margin: 10px;
  text-align: center;
  text-shadow: $text-shadow-color 2px 1px 3px;
}

a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

h2 {
  font-family: $headline-font;
  font-size: 2em;
  text-decoration: underline;
  text-shadow: $text-shadow-color 2px 1px 3px;
}

.icon::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-right: .25em;
  text-rendering: auto;
  transform: translate(0, 0);
}

.section-box {
  @include section-box($color: $body-foreground-color);
}

// NAVBAR
.navbar {
  background-color: $navbar-background-color;
  border-bottom: 1px solid $navbar-border-color;

  a {
    color: $navbar-link-color !important;

    &:hover {
      background-color: $navbar-link--hover-background !important;
      color: $navbar-link--hover-color !important;
    }
  }
}

.navbar-header {
  .navbar-brand {
    color: $navbar-brand-color !important;
    font-size: 1.5em;
  }
}

.filename {
  @include hilight-box($color: $filename-hilight-color);
}

.yaml-tag {
  @include hilight-box($color: $yaml-hilight-color);
}

.cmdline {
  @include hilight-box($color: $cmdline-hilight-color);
}

.console-output {
  @include hilight-box($color: $console-hilight-color);
}

.link-hilight {
  @include hilight-box($color: $console-hilight-color);
}

.important-note {
  @include hilight-box($color: $important-hilight-color);
  font-size: 1.3em;
  padding: 5px;
  text-align: justify;
  text-shadow: $text-shadow-color 2px 1px 3px;
  margin-bottom: 10px;
  text-align: center;
}

// ABOUT
.about {
  padding-top: 65px;
  padding-bottom: $section-padding-bottom;

  .brief {
    padding: 5px;
  }

  .name {
    font-weight: bold;
  }

  .tagline {
    padding-left: 10px;
  }
}

// PROJECT
.project {
  padding-bottom: $section-padding-bottom;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
  }

  h3 {
    font-family: $headline-font;
    font-size: 1.5em;
    text-shadow: $text-shadow-color 2px 1px 3px;
  }

  hr {
    border: 0;
    border-bottom: 1px solid $hr-border-bottom-color;
    border-top: 1px solid $hr-border-top-color;
    clear: both;
    display: block;
    font-size: 1px;
    height: 0;
    line-height: 0;
    margin: 8px auto;
    max-height: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

  .badges {
    padding-bottom: 15px;
    text-align: center;
  }

  .links {
    text-align: center;
  }

  .toplink {
    text-align: center;
  }

  .capitalize {
    text-transform: capitalize;
  }
}


.footer {
  padding-bottom: $section-padding-bottom;
  color: $footer-text-color;

  a {
    color: $footer-link-color;

   &:hover {
      color: $link-hover-color;
    }
  }

  .site-version {
    color: $footer-version-color;
  }
}
